---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title='About Me'
  description='This is a page about me i suppose.'
  pubDate={new Date("August 08 2021")}
  heroImage='https://go.dev/blog/5years/gophers5th.jpg'
>
  <h1>Rasulov Emirlan</h1>

  <p>
    <strong>Email:</strong>
    <a href='mailto:rasulov.emirlan@gmail.com'>rasulov.emirlan@gmail.com</a>
  </p>
  <p>
    <strong>GitHub:</strong>
    <a href='https://github.com/rasulov-emirlan'
      >https://github.com/rasulov-emirlan</a
    >
  </p>
  <p>
    <strong>LinkedIn:</strong>
    <a href='https://www.linkedin.com/in/emirlan-rasulov'
      >https://www.linkedin.com/in/emirlan-rasulov</a
    >
  </p>
  <p><strong>Location:</strong> Kyrgyzstan, Bishkek</p>

  <h2 class='font-bold text-3xl mb-6'>Work Experience</h2>

  <h3 class='text-2xl font-semibold mb-4'>Tor.Energy (2023.06.20 - present)</h3>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>Optimize services for high load (20k RPS)</li>
    <li class='mb-2'>Implement event-driven caching</li>
    <li class='mb-2'>Refactor system with K8S and modern tech</li>
    <li class='mb-2'>Refactor legacy code</li>
  </ul>

  <h3 class='text-2xl font-semibold mb-4'>Rezonit (2022.9.24 - 2023.03.03)</h3>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>Designed database schemas for microservices</li>
    <li class='mb-2'>Integrated with third-party services</li>
    <li class='mb-2'>Mentored junior developers</li>
    <li class='mb-2'>Designed architecture for new products</li>
    <li class='mb-2'>
      Worked on a high-load system for synchronizing data between different
      groups of services
    </li>
  </ul>

  <h3 class='text-2xl font-semibold mb-4'>Vertex (2022.06.15 - 2022.09.29)</h3>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>Extended/optimized database schema</li>
    <li class='mb-2'>Resolved N+1 problems</li>
    <li class='mb-2'>Developed new features for frontend and backend</li>
  </ul>

  <h3 class='text-2xl font-semibold mb-4'>Elcat (2022.04.01 - 2022.05.31)</h3>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>Implemented auth both on frontend and backend</li>
    <li class='mb-2'>Integrated microservices with an existing monolith</li>
    <li class='mb-2'>
      Worked with Ancient APIs for controlling server equipment (like power
      generators or ACs) on the distance
    </li>
  </ul>

  <h3 class='text-2xl font-semibold mb-4'>SEA (2020.09.01 - present)</h3>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>
      Work as a mentor for students or anyone interested in learning about web
      development
    </li>
    <li class='mb-2'>
      Develop services for authentication and communication within the
      university
    </li>
  </ul>

  <h2 class='text-3xl font-bold mb-6'>Education</h2>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>American University in Central Asia</li>
    <ul class='list-disc pl-6'>
      <li class='mb-2'>Software Engineering</li>
      <li class='mb-2'>2019 – 2023</li>
    </ul>
  </ul>

  <h2 class='text-3xl font-bold mb-6'>Skills</h2>
  <ul class='list-disc pl-6'>
    <li class='mb-2'>GOlang</li>
    <li class='mb-2'>PostgreSQL</li>
    <li class='mb-2'>ClickHouse</li>
    <li class='mb-2'>Redis</li>
    <li class='mb-2'>KeyDB</li>
    <li class='mb-2'>Kafka</li>
    <li class='mb-2'>NATS</li>
    <li class='mb-2'>Docker</li>
    <li class='mb-2'>Kubernetes</li>
    <li class='mb-2'>Testing</li>
    <li class='mb-2'>Open Telemetry</li>
    <li class='mb-2'>Svelte, React, Solid</li>
    <li class='mb-2'>Ruby on Rails</li>
    <li class='mb-2'>Remix</li>
    <li class='mb-2'>English B2</li>
  </ul>
</Layout>
